body {
  background: #000c25;
  margin: 0px 0px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  display:inline;
}

.main {
  width: 85%;
  margin: 83px auto 0% auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
  
}

.logo {
  font-size: 24px;
  color: #f5f5f5;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #e8e9f0;
}

.modal {
  margin: 150px auto 350px auto;
  width: 625px;
  height: 113px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  
}

.about{
  line-height: 23px;
  font-weight: 400;
}

.a {
  font-size: 30px;
  letter-spacing: 5px;
  
}

.specifi {
  margin: 40px 0px;
  font-size: 30px;
  letter-spacing: 5px;
}
  
table {
  border-collapse: collapse;
  width: 100%;
  background-color: #0b1b53;
}

th, td {
  border: 1px solid #0f59d6;
  padding: 8px;
  text-align: center;
  height: 20px;
}

th {
  background-color: #0F1F70;
  color: white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.column {
  flex: 1;
  padding: 3% 5% 3% 0%;
  line-height: 25px;
}

.column img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  transform: scaleX(-1)
}

.column > h2{
  letter-spacing: 4px;
}

.end {
  width: 100%;
  height: 300px;
  background-image: url("earth.jpg");
}

.end1 {
  height: 300px;
  background-color: #0f59d6;
  width: 80%;
  margin: 30px auto 0 auto;
  border: solid;
  border-color: #0F1F70;
}


/* .can{
  
} */


/* .webgl{
  height: 300px;
  width:fit-content;
  padding: auto;
  display: flex;
  align-items: center;
} */

/* canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
} */

.webgl {
  position: relative;
}